*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    color: unset;
    text-decoration: none;
}

.section__big-padding {
    padding: 4rem 20rem;
}

.section__small-padding {
    padding: 4rem 6rem;
}

@media screen and (max-width: 1024px) {
    .section__big-padding {
        padding: 3rem 10rem;
    }

    .section__small-padding {
        padding: 3rem 5rem;
    }
}

@media screen and (max-width: 780px) {
    .section__big-padding {
        padding: 2rem 5rem;
    }

    .section__small-padding {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 550px) {
    .section__big-padding {
        padding: 1rem 2rem;
    }

    .section__small-padding {
        padding: 0.5rem 1rem;
    }
}