@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --font-family: 'Poppins', sans-serif;


    --color-light-grey: #444343;
    --color-dark-grey: #151515;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-dark-white: rgb(207, 206, 206);
    --color-light-pink: #FF1777;
    --color-pink: #FF0077;
    --color-dark-pink: #990047;
}